<%- include('../partials/header'); %>

<div class="container">
  <div class="row">
    <div style="width: 40%; margin: 25px auto;">
      <h1 class="text-center">Edit collection</h1>
      <form
        action="/collections/<%= collection._id %>?_method=PUT"
        method="POST"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="collection[name]"
            value="<%= collection.name %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="collection[location]"
            value="<%= collection.location %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="collection[image]"
            value="<%= collection.image %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="collection[price]"
            value="<%= collection.price %>"
            min="0"
            step="1"
          />
        </div>
        <div class="form-group">
          <label for="categorySelect">Type of Collection</label>
          <select
            class="form-control"
            id="categorySelect"
            name="collection[category]"
          >
            <option>Travel Blog</option>
            <option>Travel Guide</option>
          </select>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="collection[description]"
            value="<%= collection.description %>"
          />
        </div>
        <div class="form-group">
          <!--btn-block makes it take up the entire width-->
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/collections">Go Back</a>
    </div>
  </div>
</div>

<%- include('../partials/footer'); %>
