<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <!-- Custom stylesheets -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <!-- Font Awesome-->
  <script src="https://kit.fontawesome.com/92992f5a3f.js" crossorigin="anonymous"></script>
  <!-- MapBox -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css" rel="stylesheet" />
  <title>AroundTheWorld - Adventures Await</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
    <a class="navbar-brand" href="/"><i class="fas fa-globe-americas"></i> AroundTheWorld</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collections
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/collections">Most Recent</a>
              <a class="dropdown-item" href="/collections/likes/desc">Most Likes</a>
              <a class="dropdown-item" href="/collections/price/desc">Most Expensive</a>
              <a class="dropdown-item" href="/collections/price/asc">Cheapest</a>
            </div>
          </div>
        </li>
        <% if(!currentUser){ %>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">Sign Up</a>
        </li>
        <% } else { %>
        <li class="nav-item active">
          <a class="nav-link" href="/collections/new">Add Collection</a>
        </li>
        <li>
          <span class="navbar-text text-white">
            Signed In As <%= currentUser.username %>
          </span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
  </nav>

  <!-- Main display -->
  <div class="row">
    <div class="col-lg-9 pr-0">
      <div id="map"></div>
      <div class="infoAndComments">
        <div class="jumbotron pt-2 pb-0">
          <div class="inline">
            <h1 class="display-5 text-center"><%= collection.name %></h1>
            <h3 class="display-6 font-weight-light font-italic text-center"><i class="fas fa-location-arrow"></i> <%= collection.location %></h3>
          </div>
          <!-- <img class="rounded mx-auto d-block" src="<%= collection.image %>"> -->
          <hr class="my-3">
          <p class="lead description"><%= collection.description %></p>
          <hr class="my-3">
          <p>By: <%= collection.author.username %></p>
          <p>Price: $<%= collection.price %></p>
          <p>Category: <%= collection.category %></p>
          <p>Updated: <%= collection.updatedAt.toDateString() %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 pl-0">
      <div class="list-group overflow-auto controlBar">
        <% if (currentUser &&
        collection.author.id.equals(currentUser._id)) { %>
          <a class="btn btn-primary mb-1" data-toggle="collapse" href="#addPinCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add Pin
          </a>
          <div class="collapse" id="addPinCollapse">
            <div class="card card-body">
              <form action="/pins" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" name="pin[location]" placeholder="Location" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" type="text" name="pin[description]" placeholder="When/how did you get here and what did you do?" rows="3" required></textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button class="btn btn-md btn-primary">Submit</button>
                </div>
              </form>
             </div>
          </div>

          <a class="btn btn-primary mb-1" data-toggle="collapse" href="#setZoomCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Set Zoom
          </a>
          <div class="collapse" id="setZoomCollapse">
            <div class="card card-body">
              <form action="/pins/setZoom" method="POST">
                <div class="form-group">
                    <input class="form-control" type="number" name="Zoom" placeholder="Zoom" min="0.00" step="0.01">
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button class="btn btn-md btn-primary">Save</button>
                </div>
              </form>
             </div>
          </div>

          <a class="btn btn-primary mb-1" data-toggle="collapse" href="#addCommentCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add Comment
          </a>
          <div class="collapse" id="addCommentCollapse">
            <div class="card card-body">
              <form action="/collections/<%= collection._id %>/comments" method="POST">
                <div class="form-group">
                  <textarea class="form-control" type="text" name="comment[text]" rows="3" required></textarea>
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button class="btn btn-md btn-primary">Add</button>
                </div>
              </form>
             </div>
          </div>
          <% } %>
          <% collection.comments.forEach((comment, index) => { %>
            <li class="list-group-item"><%= comment.text %></li>
          <% }); %>
        </div>
      
      <!-- Allow user to modify zoom and add pins to collection if user owns collection -->

      <!-- Else only let them view -->

    </div>
  </div>

  <script>
    mapboxgl.accessToken = "pk.eyJ1Ijoia2xtdWkiLCJhIjoiY2s3dHIwaGdsMTM2MTNtbHVraG5oNjBuMiJ9.d_WvYUNH3zsOuIGWCQWnnw";

    var lat = <%= collection.lat %>;
    var lng = <%= collection.lng %>;

    /* Map: This represents the map on the page. */
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v10",
      zoom: 11,
      center: [lng, lat]
    });

    map.on("load", function () {
      /* Image: An image is loaded and added to the map. */
      map.loadImage("https://i.imgur.com/MK4NUzI.png", function (error, image) {
        if (error) throw error;
        map.addImage("custom-marker", image);
        /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
        map.addLayer({
          id: "markers",
          type: "symbol",
          /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
          source: {
            type: "geojson",
            data: {
              type: 'FeatureCollection',
              features: [{
                type: 'Feature',
                properties: {},
                geometry: {
                  type: "Point",
                  coordinates: [lng, lat]
                }
              }
            ]}
          },
          layout: {
            "icon-image": "custom-marker",
          }
        });
      });
    });
  </script>

  <%- include('../partials/footer'); %>